body {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    ),
    url(../img/earth.jpg);
  background-size: cover;
  font-family: 'HelveticaNeue-Light', sans-serif;
}

header {
  position: absolute;
  top: 15%;
  left: 80%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: right;
}
h1 {
  text-transform: uppercase;
  margin: 0;
  font-size: 3rem;
  white-space: nowrap;
}
p {
  margin: 0;
  font-size: 1.5rem;
}

/*.htitle {   
 font-family: 'HelveticaNeue-Light', sans-serif;
   font-weight: bold;
   font-size: 40px;
   text-align: justify;
   color: #FFFFFF;
}

.text1_container { float: right; width: 55%; margin: 0 0 0px 0; }*/